<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<div class="contenedor">
  <div class="input-container">
    <input
      [(ngModel)]="query"
      (keyup.enter)="searchImages()"
      placeholder="Buscar imágenes"
    />
    <span class="material-symbols-outlined search-icon">search</span>
  </div>
  <div class="gallery">
    <h1>GALERIA</h1>
    <div class="img">
      <ng-container *ngIf="images">
        <div *ngFor="let image of images" class="image-item" >
          <button class="btn-img" (click)="abrirModalImagenes(image)">
            <div>
              <img [src]="image.urls.small" [alt]="image.alt_description" />
            </div>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
